<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="view_pos_config_form_inherit_analytic_accounts" model="ir.ui.view">
        <field name="name">pos.config.view.form.inherit.analytic.accounts</field>
        <field name="model">pos.config</field>
        <field name="inherit_id" ref="point_of_sale.view_pos_config_form"/>
        <field name="arch" type="xml">
            <block id="pos_accounting_section" position="inside">
                <span>asdasd</span>
            </block>
        </field>
    </record>
</odoo>
